.form-panel{
    display: -moz-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    height: 100%;    
}
.lg-form{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.form-card{
    margin: auto;
}
.f-c-wrap{
    border: solid 1px var(--gray-light);
    padding: 50px;
    max-width: 450px;
    box-sizing: border-box;
    background-color: var(--gray-very-light);
}

.f-input{
    min-height: 48px;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    border: solid 2px var(--gray-medium);
    padding-left: 15px;
}
.f-input:focus {
    outline: none;
    border: solid 2px var(--primary-color);
}
.is-invalid{
    border-color: brown;
    outline-style: none;
}
.form-logo{
    margin-bottom: 35px;
    height: 30px;
}
.card-header{
    display: flex;
    align-items: center;
    justify-content: center;

}
.form-btn{
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
.forget-pwd{
    font-weight: 800;
    color: var(--gray-very-dark);
    text-decoration: none;
}
.forget-pwd:hover{
    text-decoration: underline;
}
.extr-link{
    font-weight: 800;
    color: var(--gray-very-dark);
    a{        
        text-decoration: none;
        color: var(--gray-very-dark);
        &:hover{
            text-decoration: underline;
        }
    }
}
.alert{
    color: var(--primary-dark);
}
.alert-border{
    border-color: var(--primary-color);
}
.fm-aggrement{
    color: var(--gray-dark);
    margin-top: 15px;
    a{
        color: var(--gray-very-dark);
    }

}
.form-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}